
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font:400 14px/1.4 'Work Sans', sans-serif;
    color: #333333;
    background-color: #fff;
    min-width:320px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{      
    cursor: pointer; 
}
header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 55px;
    .logo{
        height: 35px;
        width: 85px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
nav{
    menu{
        display: inline-block;
        text-transform: uppercase;
        & > li{
            display: inline-flex;
            a{
                color:#565656;
                padding: 40px 60px 40px 0;
            }
        }
    }
}
.banner{
    width: 100%;
    height: 365px;
    background-color:#193e5f;
    position: relative;
    .caption-container{
        text-transform: uppercase;
        text-align: center;
        color:#fff;
        font:500 16px/1 'Work Sans', sans-serif;
        .data{
        }
        .title{
            font-size:72px;
            margin-top: 25px;
        }
    }
    .item{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
.search_pop-up{
    display: inline-block;
    a{
        padding-left: 40px;
        font-size:20px;
        border-left: 1px solid #ccc;
    }
}
.social-network{
    display: inline-block;
    [class*="icon-"]{
        font-size:43px;
    }
}
.dropdown-search{
    display:none;
}
article{
    width: 630px;
    margin:0 auto;
}
.article-description{
    padding-top:55px;
    .title{
        text-transform: uppercase;
        font:400 16px/1 'Work Sans', sans-serif;
    }
    p{
        padding-top:65px;
        font-weight: 300;
    }
}
.additional-description{
    padding:40px 0 70px;
    .title{
        font-weight: 500;
        font-size:20px;
    }
    p{
        padding-top: 20px;
        font-weight: 300;
    }

}
.latest_posts{
    padding:68px 0 ;
    border-top:1px solid #f1f1f5;
    border-bottom:1px solid #f1f1f5;
    .title{
        text-align:center;
        color:#0f0f0f;
        font:500 24px/1 'Work Sans', sans-serif;
    }
    ul{
        margin-top: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
    }
    .item{
        width: 28%;
        display: flex;
        box-shadow: 0px 0px 8px 5px rgba(0,0,0,.11);
        .img-item{
            width: 50%;
            height: 100%;
            background-color:#193e5f;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .description{
            width: 50%;
            padding:30px 20px 20px;
            .category{
                text-transform: uppercase;
                font-size:12px;
                color:#a2a2a2;
            }
            .title{
                text-align:left;
                font-size:16px;
                margin:15px 0 25px;
            }
            .read-more{
                text-transform: uppercase;
                color:#0f0f0f;
                position: relative;
                padding-right:15px;
                &:after{
                    content:"\e900";
                    font-family: 'bigdroptz' !important;
                    position: absolute;
                    right:0;
                    top:50%;
                    transform: translate(100%,-50%);
                }
            }
        }
    }
}
table{
    margin: 40px 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border:1px solid #f0f0f0;
    thead{
        border-bottom:1px solid #f0f0f0;
    }
    th,td{
        text-align: left;
        padding:18px 0 18px 25px;
    }
    th{
        color:#797979;
        font-size:12px;
        padding:25px;
    }
    tr:nth-child(2n){
        background-color: #fafbfc;
    }
}
.comment{
    padding:45px 0;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    p{
        position: relative;
        font:400 16px/2 'Libre Baskerville';
        font-style: italic;
        padding-left:75px;
        &:before{
            content:"\201c";
            color:#ffe50a;
            top:0;
            left:0;
            position: absolute;
            font:700 80px/1 'Libre Baskerville';
        }
    }
    .author{
        color:#797979;
        text-align: right;
        margin-top: 25px;
        span{
            position: relative;
            &:before{
                content: "";
                background-color: #797979;
                width: 40px;
                height: 1px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translate(50%,-50%);
                top: 50%;
                left: -70%;
                position: absolute;
            }
        }
    }
}
.overley{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
    z-index: 101;
    display: block;
    @media (max-width:768px) {
        &{
            overflow: auto;
        }
    }
}
.modal-contant{
    position: absolute;
    height: auto;
    width: 70%;
    background-color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:25px;
    border:none;
    border-radius:15px;
    @media (max-width:768px) {
        &{
            top: 0;
            width: 95%;
            transform: translate(-50%,0);
        }
    }
    .close{
        padding: 10px;
        border: none;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%,-50%);
        box-shadow:0 0 1px 1px rgba(0,0,0,.3);
        span{
            color:#333;
        }
        &:hover{
            span{
                color:#be1e2d;
            }
        }
    }
}
footer{
    padding:30px 50px;
    nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
}
.copy{
    text-align:right;
    a{
        color:#b5b5b5;
    }
}